section#education:before
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-image:  url('../images/knowledge.jpg');
    background-position: center;
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    opacity: 0.05;
}

section#education a
{
	position: relative;
	z-index: 1;
}

section#education ul
{
	list-style-type: square;
	list-style-position: outside;
    margin-left: 1.5em;
}

.course-dd-li
{
	display: list-item;
	list-style-type: square;
	list-style-position: outside;
    margin-left: 1.5em;
}
