section#experience:before
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-image:  url('../images/experience.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

section#experience article ul
{
    display: table;
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

section#experience article ul li
{
    display: table-row;
}

section#experience article ul > li::before {
    content: "\2022";
    display: table-cell; /* aha! */
    text-align: right;
    padding-right: 1em;
}
