section#skills div
{
    width: 100%;
    margin:0 auto 3em auto;
    overflow: hidden;
}

section#skills:before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/tools_cropped.jpg');
    background-size: cover;
    opacity: 0.15;

}

section#skills ul
{
    width: 100%;
    margin: 3em auto;
    padding: 1em auto;
    min-width: 390px;
}

section#skills ul li
{
    position: relative;
    height: 6vh;
    float: left;
    width: 44%;
/*    padding: 5%;*/
    margin: 0.5% 0 0.5% 4%;
    border: 1px solid black;
    text-align: center;
/*    height: 100%;*/
    min-width: 175px;
	white-space: nowrap;
}

section#skills ul li span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section#skills ul li img
{
    position: absolute;
    height: 80%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

section#skills ul li img.solo-img
{
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
}

section#skills ul li img.solo-img2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: auto;
}

section#skills ul li img + span
{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

section#skills ul li:nth-child(2n+1)
{
    clear: both;
}

section#skills ul li:hover
{
    box-shadow: 0 0 3px 3px white;
    cursor: pointer;
    background: #fafaad;
}

@media screen and (min-width: 1084px)
{
    section#skills div
    {
        margin: 3em auto;

    }

    section#skills ul
    {
        width: 100%;
    }

    section#skills ul li
    {
        float: left;
        width: 18.8%;
        padding: 0.33%;
        margin: 0.5% 0 0.5% 1%;
        min-width: 175px;
    }

    section#skills ul li:nth-child(2n+1)
    {
        clear: none;
    }

}

@media screen and (min-width: 780px) and (max-width: 1083px)
{
    section#skills div
    {
        margin: 3em auto;
        width: 85%;

    }
    section#skills ul
    {
        width: 100%;
    }

    section#skills ul li
    {
        float: left;
        width: 32%;
        padding: 0.33%;
        margin: 0.5% 0 0.5% 1%;
        min-width: 175px;
    }

    section#skills ul li:nth-child(2n+1)
    {
        clear: none;
    }
}
